<!DOCTYPE html>

<html>
<head>
    <title>SlackNet Events API Example</title>
    <style>
    body {
        display:  flex;
        flex-direction: row;
        justify-content: center;
        font-family: sans-serif;
        color: hsl(0deg 0% 25%);
    }

    code {
        background: hsl(0deg 0% 95%);
        padding: 2px;
    }

    li {
        line-height: 2;
    }
    </style>
</head>
<body>
<div>
    <h1>SlackNet Events API Example</h1>

    <h2>What can you do?</h2>
    <ul>
        <li>Invite your app to a channel and post a message containing <code>test interactivity</code>.</li>
        <li>Try the <code>/echo</code> slash command.</li>
        <li>Set up a workflow with a test step. Note that this requires a paid Slack workspace.</li>
    </ul>
</div>
</body>
</html>